
			<div class="card">
			  <div class="card-block">
			    <h4 class="card-title">接口链接列表</h4>
				<table class="table">
				  <thead class="thead-default">
				    <tr>
				      <th>#</th>
				      <th>链接</th>
				      <th>类型</th>
				      <th>操作</th>
				    </tr>
				  </thead>
				  <tbody>
				  <% @links.each do |lin| %>
					    <tr>
					      <th scope="row"><%= lin.id %></th>
					      <td><%= lin.link %></td>
					      <td><%= lin.link_type == 0 ? "生产" : "测试" %></td>
					      <td>
						      <%= link_to "编辑", edit_link_path(lin) %>|
						      <%= link_to "删除", link_path(lin), method: :delete, data: {confirm: "确定删除"} %>
					      </td>
					    </tr>
				  <% end %>
				  </tbody>
				</table>
				<%= link_to "添加", new_link_path, class: "btn btn-primary" %>
			  </div>
			</div>
