<%= form_for(qrcode) do |f| %>
  <% if qrcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qrcode.errors.count, "error") %> prohibited this qrcode from being saved:</h2>

      <ul>
      <% qrcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>参数(可以用,号隔开参数，创建多个参数二维码)</label>
    <%= f.text_area :scene, class: "form-control" %>
    <small class="form-text text-muted">参数(字符串形式的参数), 字符串类型, 长度限制为1到64.</small>
  </div>
 
  <div class="form-group text-xs-center">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>